<div class="modal fade" id="reviewPopupDiv" role="dialog">
    <div class="modal-dialog" style="width:80%; margin-left:10%; margin-right:10%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <i id="popupIcon" class="glyphicon glyphicon-ban-circle true-icon-error"></i>
                    <span class="true-error-text" id="popupHeaderReview">@BBDEVSYS.Content.text.ResourceText.PopupErrorHeader</span>
                </h4>
            </div>
            <div class="modal-body">
                <p><span id="popupBodyReview" class="true-error-text">@BBDEVSYS.Content.text.ResourceText.PopupErrorHeader</span></p>
            </div>
            <div class="modal-footer">
                <button id="closeMessagePopupButton" type="button" class="btn btn-default authDisplay" onclick="closePopup('reviewPopupDiv');">
                    <span class="true-error-text" id="closeReviewPopupButtonText">@BBDEVSYS.Content.text.ResourceText.ButtonClosePopup</span>
                </button>
            </div>
        </div>

    </div>
</div>
