<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="routeJs" type="RouteJs.RouteJsConfigurationSection, RouteJs" />
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BBDEVSYS-20180524102829.mdf;Initial Catalog=aspnet-BBDEVSYS-20180524102829;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MIS_PAYMENTEntities" connectionString="metadata=res://*/Models.Entities.db_payment.csdl|res://*/Models.Entities.db_payment.ssdl|res://*/Models.Entities.db_payment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HCW_T15-APATSAR;initial catalog=MIS_PAYMENT;user id=sa;password=True2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MIS_PAYMENT_FEEEntities" connectionString="metadata=res://*/Models.Entities.MIS_PYM_FEE_Model.csdl|res://*/Models.Entities.MIS_PYM_FEE_Model.ssdl|res://*/Models.Entities.MIS_PYM_FEE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RM-T15-SOMCHAI;initial catalog=MIS_PAYMENT_FEE;persist security info=True;user id=sa;password=True2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PYMFEEEntities2" connectionString="metadata=res://*/Models.Entities.DB_MISPYMFee.csdl|res://*/Models.Entities.DB_MISPYMFee.ssdl|res://*/Models.Entities.DB_MISPYMFee.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RM-T15-SOMCHAI;initial catalog=MIS_PAYMENT_FEE;persist security info=True;user id=sa;password=True2017;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PYMFEEEntities" connectionString="metadata=res://*/Models.Entities.MIS_PAYMENT_FEE_Model.csdl|res://*/Models.Entities.MIS_PAYMENT_FEE_Model.ssdl|res://*/Models.Entities.MIS_PAYMENT_FEE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-S7KNP5L\SQLEXPRESS2008R2;initial catalog=0MIS_PAYMENT_FEE;persist security info=True;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Configuration for attachment-->
    <!--In byte: 50 MB 52428800, Also set property "maxRequestLength" and "maxAllowedContentLength" with same value-->
    <add key="MaxFileSize" value="524288000" />
    <!--<add key="TempFilePath" value="~/App_Data/Document/Temp" />
    <add key="DocumentFilePath" value="~/App_Data/Document" />-->
    <add key="TempFilePath" value="~/Document/Temp" />
    <add key="DocumentFilePath" value="~/Document" />
    <add key="AllowedFileExtension" value="jpg|jpeg|gif|exif|tif|tiff|bmp|png|jif|jfif|mp4|mpg4|mpeg4|avi|264|mov|mkv|h264|tts|flv|m2t|wmv|dat|m2p|3gp|3gpp|m4v|mpg|mpeg|divx|mp3|m4a|pdf|doc|docx|xls|xlsx|zip|rar|7z" />
    <add key="PreviewNoPhoto" value="~/Content/img/Logo-TRUE.svg.png" />
    <add key="PhotoMaxFileSize" value="1000000" />
    <add key="PhotoAllowedFileExtension" value="jpg|jpeg|bmp|png|gif" />
    <add key="UploadDataAllowedFileExtension" value="xls|xlsx|xlsm" />

    <!--User data SALT-->
    <!--<add key="UserdataSALT" value="q*A6wSPSTMkTE59*#bD1*98K6" />-->
    <add key="UserdataSALT" value="q*A6wSPSTMkTE59*#bD1*98K6" />
    <!--End user data SALT-->

    <!--Domain-->
    <add key="EmployeeDomain" value="BOONRAWD_LOCAL\" />
    <add key="AgentDomain" value="" />
    <add key="ExternalAuditDomain" value="" />

    <!--Configuration for AD Authentication -->
    <add key="SystemID" value="q*A6wSPSTMkTE59*#bD1*98K6" />
    <add key="ADEmployeeURL" value="http://together/web/staff/home" />
    <add key="ADAgentURL" value="http://together/web/staff/home" />
    <add key="ADExternalAuditURL" value="http://together/web/staff/home" />
    <!--End configuration for AD Authentication -->

    <!--Configuration for K2 Server -->
    <!--
    <add key="K2ServerName" value="k2dev" />
    <add key="K2Url" value="k2dev" />
    <add key="K2WorkflowPort" value="5252" />
    <add key="K2SmartObjectPort" value="5555" />
    <add key="K2SecurityLabel" value="K2" />
    <add key="K2ProcessFolder" value="SPSTNew" />
    <add key="K2InboxRefreshTime" value="10000" />
    -->
    <!-- Millisec Time -->
    <!--
    <add key="K2TaskUrl" value="http://localhost/SPSTNew/Inbox/Inbox/OpenTask?" />
    <add key="K2Admin" value="BOONRAWD_LOCAL\user_spst15" />
    <add key="K2AdminPassword" value="mj_8336" />
    -->
    <!--End configuration for K2 Server -->
    <!--



    -->
    <!--Calculate score program-->
    <!--
    <add key="CalculateScoreProgram" value="~/App_Data/Program/Background/SPSTNew.BackgroundProcess.exe" />
    -->
    <!-- add key="CalculateScoreProgram" value="~/App_Data/Program/CalculateScore/SPSTNew.CalculateScore.exe" /-->
    <!--
    -->
    <!--End calculate score program-->
    <!--

    -->
    <!-- Configuration for Email -->
    <!--
    <add key="EmailSender" value="SPSTNew@Boonrawd.co.th" />
    <add key="EmailSenderName" value="CA Evaluation System" />
    <add key="EmailHost" value="smtp.boonrawd.co.th" />
    <add key="EmailPort" value="25" />
    -->
    <!-- End Configuration for Email -->
    <!--

    -->
    <!-- Configuration for ARM Connection -->
    <!--
    <add key="ARMServer" value="10.7.10.131" />
    <add key="ARMPort" value="5432" />
    <add key="ARMUser" value="spst" />
    <add key="ARMPassword" value="spst" />
    <add key="ARMDatabase" value="singarm" />
    <add key="ARMTimeout" value="60" />
    -->
    <!-- End Configuration for ARM Connection -->
    <!--

    -->
    <!-- Get URL Link For Email-->
    <!--
    <add key="ActionPath" value="/CAEvaluation/EvaluateMenu03/Manage?" />
    <add key="Parameter01" value="evaResultID={0}&amp;" />
    <add key="Parameter02" value="formPeriodID={1}&amp;" />
    <add key="Parameter03" value="periodItemID={2}&amp;" />
    <add key="Parameter04" value="agentCode={3}&amp;" />
    <add key="Parameter05" value="formState={4}" />
    <add key="BaseURL" value="http://localhost/SPSTNew" />
    -->
    <!-- End Get URL Link For Email -->
    <!--

    -->
    <!-- SAP sFTP Connection Setting -->
    <!--
    <add key="SAPsFTPHostName" value="10.7.2.83" />
    <add key="SAPsFTPUserName" value="spstdev" />
    <add key="SAPsFTPPassword" value="l9e5sPSt4s@p" />
    <add key="ZFI034CPath" value="/ZFI034C/Outbound" />
    <add key="ZFI014CPath" value="/ZFI014C/Outbound" />
    <add key="ZFI034CBackup" value="X" />
    -->
    <!--<add key="ZFI034CBackup" value="" />-->
    <!--
    <add key="ZFI014CBackup" value="X" />
    -->
    <!--<add key="ZFI014CBackup" value="" />-->
    <!--
    <add key="ZFI034CBackupPath" value="/ZFI034C/Backup" />
    <add key="ZFI014CBackupPath" value="/ZFI014C/Backup" />
    -->
    <!-- End SAP SFTP Connection Setting  -->
  </appSettings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <!--<jsonSerialization maxJsonLength="50000000"/>-->
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.web>
    <identity impersonate="true" />
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="1800" />
    <authentication mode="None">
      <forms timeout="2880"></forms>
      <!--<forms loginUrl="~/Authentication/Authentication" timeout="120" cookieless="UseCookies" protection="Encryption" />-->
    </authentication>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <!--<authentication mode="Forms">
      <forms defaultUrl="/Home/Index" loginUrl="/Authentication/Index" slidingExpiration="true" timeout="2880"></forms>
    </authentication>-->
    <compilation debug="true" targetFramework="4.5.2" />
    <!--<httpRuntime targetFramework="4.5.2" maxQueryStringLength="32768" maxUrlLength="65536" maxRequestLength="2097151" executionTimeout="2097151" enable="true"/>-->

    <httpRuntime targetFramework="4.5.2" maxQueryStringLength="32768" maxRequestLength="2097151" executionTimeout="2097151" enable="true"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="RouteJs" />
      <add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--For file upload size (In byte)-->
    <security>
      <requestFiltering>

        <requestLimits maxQueryString="32768" maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!--
		exposeAllRoutes: Sets whether to expose all routes to the site. 
		If true, all routes will be exposed unless explicitly hidden BBDEVSYS the [HideRoutesInJavaScript] 
		attribute on the controller. If false, all routes will be hidden unless explicitly exposed 
		BBDEVSYS the [ExposeRoutesInJavaScript] attribute.

		lowerCaseUrls: Sets whether urls should be converted to lowercase.
		If true, urls will be converted to lowercase while preserving route value placeholders.
		Example: "Posts/{postKey}/Edit" -> "posts/{postKey}/edit"
	-->
  <routeJs exposeAllRoutes="true" lowerCaseUrls="false" />
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
          <add fileExtension=".less" assetTypeCode="Less" />
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
</configuration>